 #filters {
        display: flex;
        width: 1300px;
        flex-wrap: wrap;
       gap: 0.5rem;
        align-items: center;
          margin-block: 1.6rem;
        justify-content: space-between;
      }

      .filter {
       width: 10rem;
        height: 10%;
       justify-items: center;
        
      }
    

      .filter:hover {
        opacity: 1;
        cursor: pointer;
      }

      .filter p {
        font-size: 0.9rem;
      }

      .tax-info {
        display: none;

      }
      .tax-toggle{
        border: 1px solid black;
        border-radius: 1rem;
        height: 3.25rem;
         padding: 1rem;
         text-align: center;
         margin-left: 3rem;
         display: flex;
          align-items: center;
          bottom: 1rem;
      }
      .mostVisit{
        margin-top: 2rem;
        margin-bottom: 1rem;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        text-decoration: underline;
        color: #ff5a5f;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 0.1rem;
        text-shadow: 1px 1px 2px #ccc;

      }
      .options{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
      }
      